// Global default params, used in configs
params {
  refURL = 'https://raw.githubusercontent.com/iqbal-lab-org/viridian_workflow/v0.3.0/viridian_workflow/amplicon_scheme_data/MN908947.fasta'

  // primers
  primers='auto'
  //primers = 'https://raw.githubusercontent.com/iqbal-lab-org/viridian_workflow/master/data/covid-artic-v3.json'
  bedURL = 'https://raw.githubusercontent.com/artic-network/artic-ncov2019/master/primer_schemes/nCoV-2019/V3/nCoV-2019.bed'

  //other
  uploadBucket=false
  prefix=params.seq_tech
  bucketNameFN4 = 'FN4-queue'
}


profiles {
  singularity {
        process {
            scratch = true
	    errorStrategy = 'ignore'
        }
        report {
	    enabled = true
        }

        timeline {
            enabled = true
        }
	dag {
	    enabled = true
	}
	trace {
	    enabled = true
	}
    singularity.autoMounts = true

    process {
          withName:getObjFilesONT {
              time = '30m'
              singularity.enabled = true
              container = '/data/images/oci_pipeline_v0.1.3.sif'
      }
          withName:pango {
              time = '5m'
              singularity.enabled = true
              container = '/data/images/pango_v0.1.3.sif'
      }
          withName:nextclade {
              time = '5m'
              singularity.enabled = true
              container = '/data/images/nextclade_v0.1.9.sif'
      }
          withName:download_nextclade_files {
              time = '1h'
              singularity.enabled = true
              container = '/data/images/nextclade_v0.1.9.sif'
      }
          withName:getVariantDefinitions {
              time = '1h'
              singularity.enabled = true
              container = '/data/images/aln2type_v0.1.3.sif'
      }
          withName:aln2type {
              time = '5m'
              singularity.enabled = true
              container = '/data/images/aln2type_v0.1.3.sif'
      }
          withName:viridianONTPrimers {
              time = '45m'
              singularity.enabled = true
              container = '/data/images/viridian_workflow_v0.3.0.img'
      }
          withName:viridianONTAuto {
              time = '45m'
              singularity.enabled = true
              container = '/data/images/viridian_workflow_v0.3.0.img'
      }
          withName:viridianPrimers {
              time = '45m'
              singularity.enabled = true
              container = '/data/images/viridian_workflow_v0.3.0.img'
      }
          withName:viridianAuto {
              time = '45m'
              singularity.enabled = true
              container = '/data/images/viridian_workflow_v0.3.0.img'
      }
          withName:FN4_upload {
              time = '1h'
              singularity.enabled = true
              container = '/data/images/fn4_upload_v0.1.3.sif'
      }
          withName:uploadToBucket {
              time = '1h'
              singularity.enabled = true
              container = '/data/images/fn4_upload_v0.1.3.sif'
      }
          withName:makeReport {
              time = '1h'
              singularity.enabled = true
              container = "/data/images/artic-ncov2019-illumina_v1.7.3.sif"
      }
          withName:getGFF3 {
              time = '1h'
              singularity.enabled = true
              container = "/data/images/bcftools_v0.1.3.sif"
      }
          withName:bcftools_csq {
              time = '1h'
              singularity.enabled = true
              container = "/data/images/bcftools_v0.1.3.sif"
      }
          withName:getObjFiles {
              time = '30m'
              singularity.enabled = true
              container = '/data/images/oci_pipeline_v0.1.3.sif'
      }
    }
  }
}

manifest {
  author = 'Nicholas Sanderson'
  description = 'SARS-CoV2 worfklows for GPAS'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = 'sp3env-v0.1.3'
}

