// Global default params, used in configs
params {
  refURL = 'https://raw.githubusercontent.com/iqbal-lab-org/viridian_workflow/v0.3.0/viridian_workflow/amplicon_scheme_data/MN908947.fasta'

  // primers
  primers='auto'
  //primers = 'https://raw.githubusercontent.com/iqbal-lab-org/viridian_workflow/master/data/covid-artic-v3.json'
  bedURL = 'https://raw.githubusercontent.com/artic-network/artic-ncov2019/master/primer_schemes/nCoV-2019/V3/nCoV-2019.bed'

  //other
  uploadBucket=false
  prefix=params.seq_tech
  bucketNameFN4 = 'FN4-queue'

  // parallel processing operation limit
  myQueueSize = 100000

  // number of maximum retries for errored processes
  myMaxRetries = 5

  // total number of error allowed per job 
  myMaxErrors = 1000

  // process fork limit
  myMaxForks = false

  // execution UUID
  run_uuid = 'no_uuid'
}


profiles {
    singularity {
        process {
            scratch = true
	        errorStrategy = 'ignore'
        }
        report {
	        enabled = true
        }

        timeline {
            enabled = true
        }
        dag {
            enabled = true
        }
        trace {
            enabled = true
        }
        singularity.autoMounts = true

        process {
            withLabel:oci_pipe {
                time = '30m'
                singularity.enabled = true
                container = '/data/images/oci_pipeline_v0.2.21.sif'
            }
            withLabel:pango {
                time = '5m'
                singularity.enabled = true
                container = '/data/images/pango_v0.2.21.sif'
            }
            withLabel:nextclade {
                time = '1h'
                singularity.enabled = true
                container = '/data/images/nextclade_v0.2.21.sif'
            }
            withLabel:aln2type {
                time = '1h'
                singularity.enabled = true
                container = '/data/images/aln2type_v0.2.21.sif'
            }
            withLabel:viridian {
                time = '45m'
                singularity.enabled = true
                container = '/data/images/viridian_workflow_v0.3.7.img'
            }
            withLabel:fn4 {
                time = '1h'
                singularity.enabled = true
                container = '/data/images/fn4_upload_v0.2.21.sif'
            }
            withName:sars_cov2_workflows {
                time = '1h'
                singularity.enabled = true
                container = "/data/images/sars-cov2_workflows_v2.0.4.sif"
            }
            withLabel:bcftools {
                time = '1h'
                singularity.enabled = true
                container = "/data/images/bcftools_v0.2.21.sif"
            }
        }
    }
}

manifest {
  author = 'Nicholas Sanderson'
  description = 'SARS-CoV2 worfklows for GPAS'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = 'sp3env-v0.2.21'
}

